USE [PW_POS]
GO
/****** Object:  Table [dbo].[BarcodeMaster]    Script Date: 6/16/2023 7:56:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarcodeMaster](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[SKUId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BarcodeMaster] ON 

INSERT [dbo].[BarcodeMaster] ([AutoId], [Barcode], [CreatedDate], [UpdatedDate], [SKUId]) VALUES (37538, N'PRD133128', CAST(N'2023-06-06T19:35:45.343' AS DateTime), NULL, 58537)
INSERT [dbo].[BarcodeMaster] ([AutoId], [Barcode], [CreatedDate], [UpdatedDate], [SKUId]) VALUES (37679, N'PRD133269', CAST(N'2023-06-06T19:35:46.047' AS DateTime), NULL, 58678)
INSERT [dbo].[BarcodeMaster] ([AutoId], [Barcode], [CreatedDate], [UpdatedDate], [SKUId]) VALUES (37820, N'PRD133410', CAST(N'2023-06-06T19:35:46.503' AS DateTime), NULL, 58819)
GO
SET IDENTITY_INSERT [dbo].[BarcodeMaster] OFF
GO
